@tailwind base;
@tailwind components;

.memeText {
    text-align: center;
    width: 100%;

    line-height: 2.8rem;
    font-size: 3rem;

    font-family: Impact;
    color: white;
    text-transform: uppercase;

    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
}

.topText {
    position: absolute;
    top: 5px;
}

.bottomText {
    position: absolute;
    bottom: 5px;
}

@media (max-width: 600px) {
    .memeText {
        line-height: 2rem;
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .memeText {
        line-height: 1.2rem;
        font-size: 1.2rem;
    }
}

@tailwind utilities;